* {
    font-family: 'Comfortaa', sans-serif;
}
#trees {
    background-image: linear-gradient(rgba(250,250,250,.9),rgba(250,250,250,.3)),url('./img/trees.jpg');
    background-size: 128px;
}
#fire {
    background-image: linear-gradient(rgba(250,250,250,.8),rgba(250,250,250,.2)),url('./img/fire.jpeg');
    background-position: bottom;
    background-size: 128px;
}
#wood {
    background-image: linear-gradient(rgba(250,250,250,.9),rgba(250,250,250,.2)),url('./img/wood.jpeg');
    background-size: 220px;
}
#water {
    background-image: linear-gradient(rgba(250,250,250,.9),rgba(250,250,250,.2)),url('./img/water.jpg');
    background-size: 240px;
}
.resource-container {
    border: 1px solid lightgrey;
    border-radius: 4px;
    display: inline-block;
    height: 128px;
    margin-top: 6px;
    padding: 8px;
    position: relative;
    vertical-align: top;
    min-width: 96px;
}
.resource-container#time {
    min-width: 128px;
}
.resource-container .quantity {
    font-family: 'VT323', monospace;
    font-size: 64px;
    text-align: center;
}
.resource-container .buttons {
    bottom: 8px;
    position: absolute;
}
.resource-container .name {
    font-size: 20px;
}